*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --cell-size: 100px;
    /*Переменная отвечающая за размер ячейки*/
    --mark-size: cal(var(--cell-size)* 0.9);
    /*разме*/
}

.board {
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}


/*Убираем краюнюю границу у ячеек*/

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    /*каждый тертий потомок 1,4,7*/
    border-left: none;
}

.cell:nth-child(3n+3) {
    /*каждый третий потомок 3,6,9*/
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell.x {
    background-color: green;
}